body {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: -1;
}

main {
    justify-content: center;
    align-items: center;
}

.bottom-bord {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.top-bord {
    display: flex;
    justify-content: flex-start;
    justify-content: flex-start;
}

.pics {
    height: 350; width: 400;
}